/*Colors*/
$c-subscription: hsl(217, 28%, 15%);
$c-main-bg: hsl(218, 28%, 13%);
$c-footer-bg: hsl(216, 53%, 9%);
$c-testimonials-bg: hsl(219, 30%, 18%);
$c-a: hsl(228, 45%, 44%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$White: hsl(0, 0%, 100%);
$desktop: 768px;

/*Fonts*/
/*Headings, call-to-action, Header, Navigation*/
$raleway: 'Raleway';
/*Body*/
$OpenSans: 'Open Sans';

/*icons*/

$icon-access: '../images/icon-access-anywhere.svg';
$icon-collaborator: '../images/icon-collaboration.svg';
$icon-security: '../images/icon-security.svg';
$icon-file: '../images/icon-any-file.svg';
$icon-arrow: '../images/icon-arrow.svg';
$logo-file: '../images/logo.svg';
$icon-logo: '../images/logo.svg';
$icon-phone: '../images/icon-phone.svg';
$icon-location: '../images/icon-location.svg';
$icon-email: '../images/icon-email.svg';
$icon-facebook: '../images/icon-email.svg';


/*Mixins*/
@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: 375px) {
        @content
    }
}

body {
    font-family: $OpenSans;
    font-size: 14px;
}



header,
a,
h1,
h2,
h3,
h4,
h5 {
    font-family: $raleway;
}

/* Background- main */
.bg-container {
    background-color: $c-main-bg;
}


.bg-hdr-strt {

    background-color: $c-testimonials-bg;
}

.icon {
    width: 90px;
    height: 89px;
}

.logo {
    width: 200px;
    height: 89px;
    
   
}

.list-group {

 align-items: flex-end;
    
}

/*Header Section*/

.logo-header {
    @extend .logo;
    background-image: url($logo-file);
    background-repeat: no-repeat;
    
}

.logo-header 
/*Start Section*/

.text{
    display: flex;
    max-width: 500px;
    text-align: right;
        
    }



    .btn-info {
        
        font-size: 18px;
        color: $White;
        letter-spacing: 1px;
        line-height: 15px;
        border-radius: 40px;
        background: $blue;
        transition: all 0.3s ease 0s;
        width: 250px;
        height: 50px;
        
      }

/*Section Bussiness Information */

.icon-access {
    @extend .icon;
    background-image: url($icon-access);
    background-repeat: no-repeat;
}

.icon-collaborator {
    @extend .icon;
    background-image: url($icon-collaborator);
    background-repeat: no-repeat;
}

.icon-security {
    @extend .icon;
    background-image: url($icon-security);
    background-repeat: no-repeat;
}

/*------------------*/

/* Section See How */
.icon-file {
    @extend .icon;
    background-image: url($icon-file);
    background-repeat: no-repeat;
}

.icon-arrow {
    // @extend .icon;
    width: 15px;
    height: 15px;
    background-image: url($icon-arrow);
    background-repeat: no-repeat;
    display: block;
    margin-left: 8px;
    margin-bottom: 4px;
}

.font-size {
    font-size: 18px;
}

.border-down {
    border-bottom: 1px solid $blue;
    width: 165px;
    margin: 0 auto 2% 0;
}

.text-decoration {
    color: $cyan;
    text-decoration: none;


    &:hover {
        color: $blue;
        text-decoration: none;
    }
}

/*------------------*/

/* Section testimonials*/
.bg-testimonials {
    background-color: $c-testimonials-bg;
}

.pos-relative {
    position: relative !important;
    top: -37px;
    right: 6px;
}

.pos-absolute {
    position: absolute !important;
    top: -1px;
}

.down-card {
    margin-top: 252px;
}

.down-card-1 {
    margin-top: 16px;
}

/*--------SUBSCRIPTION----------*/

form {
    background-color: $c-subscription;
    box-shadow: 0 0 40px #121923;
    border-radius: 20px;
    width: 90%;
    height: auto;
    margin-bottom: 70px;
    position: relative;
    top: 170px;

    &:hover {
        box-shadow: 0 0 50px #070f1a;
        transition: 0.7s;
    }

    .form-group .btn {
        background-color: $blue;
    }

    .position-form {
        position: absolute !important;
        top: -100px;
    }
}

/*--------FOOTER----------*/
footer {
    padding-top: 60%;
}

.bg-footer {
    background-color: $c-footer-bg;
    margin: 0 !important;
}

.logo {
    width: 300px;
    height: 90px;
}

.icons-footer {
    width: 50px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
}

.footer-icon-fylo {
    @extend .logo;
    display: block;
    background-image: url($icon-logo);
    background-repeat: no-repeat;
}

.footer-icon-phone {
    @extend .icons-footer;
    background-image: url($icon-phone);
}

.footer-icon-location {
    @extend .icons-footer;
    background-image: url($icon-location);
}

.footer-icon-email {
    @extend .icons-footer;
    background-image: url($icon-email);
}

.footer-icon-facebook {
    @extend .icons-footer;
    background-image: url($icon-email);
}

.d-circulo {
    min-width: 35px;
    min-height: 35px;

    .fab-color {
        color: white;
    }
}

ul li {
    list-style: none;
}

/*------------------*/

/*Media Query*/
@include mobile {
    .down-card {
        margin-top: 209px;
    }

    .down-card-1 {
        margin-top: 20px;
    }
}

@include desktop {

    /*Section see how*/
    .font-size {
        font-size: 38px;
    }

    form {
        width: 80%;
    }

    .width-email {
        width: 64%;
    }

    .width-submit {
        width: 32.5%;
    }

    /*-----*/

    .down-card {
        margin-top: unset;
    }

    .down-card-1 {
        margin-top: unset;
    }
}