/*Colors*/
/*Fonts*/
/*Headings, call-to-action, Header, Navigation*/
/*Body*/
/*icons*/
/*Mixins*/
body {
  font-family: "Open Sans";
  font-size: 14px;
}

header,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway";
}

/* Background- main */
.bg-container {
  background-color: #181f2a;
}

.bg-hdr-strt {
  background-color: #202a3c;
}

.icon, .icon-access, .icon-collaborator, .icon-security, .icon-file {
  width: 90px;
  height: 89px;
}

.logo, .logo-header, .footer-icon-fylo {
  width: 200px;
  height: 89px;
}

.list-group {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*Header Section*/
.logo-header {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}

/*Start Section*/
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  text-align: center;
}

.mountaind {
  position: absolute;
  z-index: -1;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  display: block;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.btn-info {
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: #339ecc;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 250px;
  height: 50px;
}

.bg-curvy {
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

/*Section Bussiness Information */
.icon-access {
  background-image: url("../images/icon-access-anywhere.svg");
  background-repeat: no-repeat;
}

.icon-collaborator {
  background-image: url("../images/icon-collaboration.svg");
  background-repeat: no-repeat;
}

.icon-security {
  background-image: url("../images/icon-security.svg");
  background-repeat: no-repeat;
}

/*------------------*/
/* Section See How */
.icon-file {
  background-image: url("../images/icon-any-file.svg");
  background-repeat: no-repeat;
}

.icon-arrow {
  width: 15px;
  height: 15px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  display: block;
  margin-left: 8px;
  margin-bottom: 4px;
}

.font-size {
  font-size: 18px;
}

.border-down {
  border-bottom: 1px solid #339ecc;
  width: 165px;
  margin: 0 auto 2% 0;
}

.text-decoration {
  color: #65e2d9;
  text-decoration: none;
}

.text-decoration:hover {
  color: #339ecc;
  text-decoration: none;
}

/*------------------*/
/* Section testimonials*/
.bg-testimonials {
  background-color: #202a3c;
}

.pos-relative {
  position: relative !important;
  top: -37px;
  right: 6px;
}

.pos-absolute {
  position: absolute !important;
  top: -1px;
}

.down-card {
  margin-top: 252px;
}

.down-card-1 {
  margin-top: 16px;
}

/*--------SUBSCRIPTION----------*/
form {
  background-color: #1c2431;
  -webkit-box-shadow: 0 0 40px #121923;
          box-shadow: 0 0 40px #121923;
  border-radius: 20px;
  width: 90%;
  height: auto;
  margin-bottom: 70px;
  position: relative;
  top: 170px;
}

form:hover {
  -webkit-box-shadow: 0 0 50px #070f1a;
          box-shadow: 0 0 50px #070f1a;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

form .form-group .btn {
  background-color: #339ecc;
}

form .position-form {
  position: absolute !important;
  top: -100px;
}

/*--------FOOTER----------*/
footer {
  padding-top: 60%;
}

.bg-footer {
  background-color: #0b1523;
  margin: 0 !important;
}

.logo, .logo-header, .footer-icon-fylo {
  width: 300px;
  height: 90px;
}

.icons-footer, .footer-icon-phone, .footer-icon-location, .footer-icon-email, .footer-icon-facebook {
  width: 50px;
  height: 25px;
  display: block;
  background-repeat: no-repeat;
}

.footer-icon-fylo {
  display: block;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}

.footer-icon-phone {
  background-image: url("../images/icon-phone.svg");
}

.footer-icon-location {
  background-image: url("../images/icon-location.svg");
}

.footer-icon-email {
  background-image: url("../images/icon-email.svg");
}

.footer-icon-facebook {
  background-image: url("../images/icon-email.svg");
}

.d-circulo {
  min-width: 35px;
  min-height: 35px;
}

.d-circulo .fab-color {
  color: white;
}

ul li {
  list-style: none;
}

/*------------------*/
/*Media Query*/
@media screen and (min-width: 375px) {
  .down-card {
    margin-top: 209px;
  }
  .down-card-1 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  /*Section see how*/
  .font-size {
    font-size: 38px;
  }
  form {
    width: 80%;
  }
  .width-email {
    width: 64%;
  }
  .width-submit {
    width: 32.5%;
  }
  /*-----*/
  /*---- Testimonials ---- */
  .down-card {
    margin-top: unset;
  }
  .down-card-1 {
    margin-top: unset;
  }
  /**/
  .bg-curvy {
    background-image: url("../images/bg-curvy-desktop.svg");
  }
}
/*# sourceMappingURL=style.css.map */